__pycache__/
*:Zone.Identifier
**1pics/
**5pics/
**10pics/
*.stl
*.STL
.python-version
.vscode/
.ipynb_checkpoints/
**/backups/datasets/
**/backups/models/
**/backups/metrics/
**/backups/db.json
*MBeautifier*